<div class="mat-dialog-custom-container">
    <h1 mat-dialog-title>Contact Details </h1>
    <div mat-dialog-content>
    <mat-form-field appearance="fill">
        Contact First Name
        <mat-label>Contact First Name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        Contact Last Name
        <mat-label>Contact Last Name</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        Contact Email
        <mat-label>Contact Email</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        Contact Phone
        <mat-label>Contact Phone</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div mat-dialog-action>
        <button mat-raised-button (click)="saveContact()">Save</button>
    </div>
    </div>
      
    